name: dotnet_demo

on:
    push:
        branches:
            - develop
    workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.100
          
      - name: Restore Dependencies
        run: dotnet restore

      - name: Build 
        run: dotnet build --no-restore
        
      - name: Test 
        run: |
             dotnet test --no-build --verbosity normal --logger junit --results-directory "results"
             sed -e 's/<testsuites>//g' -e 's/<\/testsuites>//g' results/TestResults.xml >> JUnitResults/junit.xml
             
      - name: Upload JUnit Results
        uses: actions/upload-artifact@v3
        with:
            name: JUnitResults
            path: JUnitResults
