name: dotnet_sample

on:
    workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.100
          
      - name: Restore Dependencies
        run: dotnet restore

      - name: Build 
        run: dotnet build --no-restore
        
      - name: Test 
        run: |
             rm -Rf results
             dotnet test --no-build --verbosity normal --logger junit --results-directory "results"
             sed -e 's/<testsuites>//g' -e 's/<\/testsuites>//g' results/TestResults.xml >> results/test-results.xml
             rm -f results/TestResults.xml
             
      - name: ServiceNow DevOps Unit Test Results
        uses: ServiceNow/servicenow-devops-test-report@v1.34.2
        with:
          devops-integration-user-name: ${{ secrets.SN_DEVOPS_USER }}
          devops-integration-user-password: ${{ secrets.SN_DEVOPS_PASSWORD }}
          instance-url: ${{ secrets.SN_INSTANCE_URL }}
          tool-id: ${{ secrets.SN_ORCHESTRATION_TOOL_ID }}
          context-github: ${{ toJSON(github) }}
          job-name: 'Build'
          xml-report-filename: results/
            
  servicenow:
    name: Change Acceleration 
    runs-on: ubuntu-latest
    needs: build 
    steps:
      - name: ServiceNow DevOps Change
        uses: ServiceNow/servicenow-devops-change@v1.34.2
        with:
          devops-integration-user-name: ${{secrets.SN_DEVOPS_USER}}
          devops-integration-user-password: ${{secrets.SN_DEVOPS_PASSWORD}}
          instance-url: ${{secrets.SN_INSTANCE_URL}}
          tool-id: ${{secrets.SN_ORCHESTRATION_TOOL_ID}}
          context-github: ${{ toJSON(github) }}
          job-name: 'Change Acceleration'
          change-request: '{"setCloseCode":"true","attributes":{"short_description":"Automated Software Deployment","description":"Automated Software Deployment.","assignment_group":"a715cd759f2002002920bde8132e7018","implementation_plan":"Software update is tested and results can be found in Test Summaries Tab; When the change is approved the implementation happens automated by the CICD pipeline within the change planned start and end time window.","backout_plan":"When software fails in production, the previous software release will be re-deployed.","test_plan":"Testing if the software was successfully deployed"}}'
          interval: '100'
          timeout: '3600'
