  
name: Unit Tests


on:
    push:
        branches:
            - develop
    workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.100

      - name: Build 
        run: dotnet build --configuration Release
        
      - name: Test 
        run: dotnet test --configuration Release --results-directory "TestResults"

      - name: Upload dotnet test results
        uses: actions/upload-artifact@v3
        with:
          name: dotnet-unittest-results
          path: TestResults
          
      - name: List Directory
        run: |
             pwd
             ls -ltra
             ls -tlr TestResults
             
